@function rem($px){
    @return $px/108px*1rem;
}
body{
    padding-bottom:rem(10px);
}
//全局
.Red{
    color:red;
}
.wrap{
    max-width:rem(1080px);
    margin:0 auto;
    //首页布局
    .hander{
        width:100%;
        //页眉
        .hander-top{
            width:100%;
            height:rem(120px);
            background:#d43d3d;
            display:flex;
            align-items:center;
            .logo{
                font-size: rem(60px);
                color: #FFF;
                margin-left: rem(45px);
            }
            .hander-search{
                 margin-left:rem(40px);
                 width:rem(650px);
                 height:rem(60px);
                 border:1px solid #FFFDEF;
                 background:#FFFFFF;
                 border-radius:rem(10px);
                 label{
                     font-size:rem(40px);
                     line-height:rem(60px);
                     display:inline-block;
                     color:#999999;
                     margin-left:rem(20px);
                 }
                 input{
                     width:rem(530px);
                     height:96%;
                     vertical-align:top;
                     border:none;
                     margin-left:rem(20px);
                     outline:none;
                     font-size:rem(40px);
                 }
                 
            }
        }
        //页眉结束
        //滚动导航部分
        .hander-bottom{
             width:100%;
             height:rem(110px);
             border-bottom:rem(1px) solid gray;
             overflow:hidden;
             position:relative;
             .swiper-wrapper{
                 display:flex;
                 width:100%;
                 line-height:rem(110px);
                 .swiper-slide{
                     font-size:rem(45px);
                     margin-left:rem(45px);                               
                 }
                 .swiper-slide:nth-child(1){
                     color:#e35656;
                 }
             }
             .swip-ico{
                 i{
                     font-size:rem(100px);
                     position:absolute;
                     top:0px;
                     right:0px;
                     width:rem(110px);
                     height:rem(110px);
                     background:white;
                     z-index:9;
                 }
             }
        }
        //滚动导航结束
    }
    //头部结束
    //内容部分
    .main{
        width:100%;
        hr{
            width:100%;
        }
        .main-content{
            width:90%;
            margin:0 auto;
            margin-top:rem(40px);
            margin-bottom:rem(40px);
            .content-title{
                font-size:rem(45px);
                line-height:rem(75px);
                font-weight:600;
            }
            .content-picture{
                display:flex;
                margin-top:rem(40px);
                img{
                    width:33%;
                    height:100%;
                    padding-left:rem(2px);
                }
            }
            .content-main{
                margin-top:rem(40px);
                font-size:rem(40px);
                color:gray;
            }
        }  
    }
    //内容部分结束
    //尾部
    .footer{
        display:flex;
        bottom:0px;
        left:0px;
        right:0px;
        width:100%;
        .footer-nav{
            width:100%;
            font-size:rem(30px);
            height:rem(100px);
            background:#F4F5F6;
            ul{
                width:100%;
                height:100%;
               display:flex;
               li{
                   padding-top:rem(10px);
                   height:100%;
                   width:25%;
                   text-align:center;
                   i{
                       font-size:rem(45px);
                   }
               } 
            }
        }
    }
    //video页布局
    //头部
    .video-hander{
        width:90%;
        margin:0 auto;
        height:rem(100px);
        overflow: hidden;
        display:flex;
        align-items:center;
        .video-navleft{
            width:90%;
            overflow: hidden;
            .swiper-wrapper{
                width:100%;
                .swiper-slide{
                    font-size:rem(45px);
                }
            }
        }
        .video-navright{
            width:10%;
            i{
                font-size:rem(45px);
                margin-left:rem(25px);
            }
        }
    }
    //内容
    .video-main{
        width:100%;
        .video-content{
            width:100%;
            .video-maintop{
                width:100%;
                video{
                    width:100%;
                    height:100%;
                }
                img{
                    width:100%;
                    height:100%;
                }
            }
            .video-mainbottom{
                width:100%;
                height:rem(140px);
                display:flex;
                font-size:rem(45px);
                align-items:center;
                img{
                    width:rem(140px);
                    height:rem(140px);
                }
                .myic{
                   font-size:rem(45px);  
                }
                span{
                    margin-left:rem(40px);
                }
                span:nth-of-type(2){
                    margin-left:rem(150px);
                }
                span:nth-of-type(3){
                    margin-left:rem(60px);
                }
                span:nth-of-type(4){
                    margin-bottom:rem(25px);
                    margin-left:rem(60px);
                }
            }
      }
    }
    //微头条布局
    .v-hander{
        width:100%;
        .hander-top{
            width:100%;
            height:rem(120px);
            border-bottom:1px solid gray; 
            display:flex;
            align-items:center; 
            position:relative;
            span{
                font-size:rem(60px);
                margin:0 auto;      
            } 
            i{
                position:absolute;
                right:60px;
                font-size:rem(60px);
            } 
        }
        .hander-main{
            margin:0 auto;
            width:100%;
            height:rem(120px);
            display:flex;
            justify-content:space-between;
            border-bottom:1px solid gray; 
            align-items:center;
            div{
                width:100%;
                font-size:rem(40px);
                border-right:1px solid gray;
                margin-left:10%;
                display:flex;
                align-items:center;
                span{
                    margin-left:rem(15px);
                }
            }
            div:nth-of-type(3){
                border:none;
            }
        }
    }
    .v-center{
        width:100;
        height:rem(10px);
        background:#E8E8E8;
        border:1px solid #E8E8E8;
    }
    .v-main{
        width:100%;
        .v-mainall{
            width:100%;
            .main-top{
            margin:0 auto;
            margin-top:rem(40px);
            display:flex;
            width:90%;
            height:rem(142px);
            div:nth-of-type(1){
                img{
                    width:rem(140px);
                    height:rem(140px);
                    border-radius:50%;
                }
            }
            div:nth-of-type(2){
                margin-left:rem(50px);
                line-height:rem(65px);
                span:nth-of-type(1){
                  font-size:rem(45px);
                }
                span:nth-of-type(2){
                  font-size:rem(35px);
                  color:gray;
                }
            }
            div:nth-of-type(3){
                margin-top:rem(30px);
                margin-left:rem(110px);
                span{
                    color:white;
                    background:dodgerblue;
                    width:rem(140px);
                    height:rem(80px);
                    border-radius:10%;
                    font-size:rem(35px);  
                    display:inline-block;
                    text-align: center;
                    line-height:rem(80px);
                }
                i{
                    margin-left:rem(50px);
                    font-size:rem(50px);
                }
                
            }
        }
        .main-center{
            width:90%;
            margin:0 auto;
            margin-top:rem(20px);
            div:nth-of-type(1){
                font-size:rem(40px);
                margin-bottom:rem(20px);
            }
            div:nth-of-type(2){
                video{
                    width:100%;
                }
                margin-bottom:rem(20px);
            }
            div:nth-of-type(3){
                color:gray;
                font-size:rem(30px);
                margin-bottom:rem(20px); 
            }
        }
        .hr1{
            border-top:1px solid gray;
            width:100%;
            height:1px;
        }
        .main-bottom{
            width:80%;
            height:rem(80px);
            margin:0 auto;
            display:flex;
            justify-content:space-between;
            align-items: center;
            div{
                i{
                    font-size:rem(50px);
                }
                span{
                    font-size:rem(40px);
                }
            }
        }
    }
   }
   //个人信息
   .my-hander{
       width:100%;
       .hander-top{
           width:100%;
           height:rem(450px);
           background:rgba(0,0,0,0.8);
           color:white; 
           .top-pic{
               width:90%;
               margin:0 auto; 
               height:rem(300px);
               display:flex;
               font-size:rem(60px);
               align-items:center;
               position:relative;
               img{
                   width:rem(160px);
                   height:rem(160px);
                   border-radius:50%;;
               }
               span:nth-of-type(1){
                   margin-left:rem(50px);
               }
               span:nth-of-type(2){
                   position:absolute;
                   right:10px;
               }
           }
           .top-nav{
               width:100%;
               height:rem(150px);
               margin:0 auto;
               display:flex;
               div{
                   width:33%;
                   height:100%;
                   text-align: center;
                   font-size:rem(40px);
                   border-right:1px solid white;
                   line-height:rem(60px);
               }
               div:nth-of-type(3){
                   border:none;
               }
           }
       }
       .hander-main{
           width:100%;
           height:rem(200px);
           display:flex;
           div{
               width:33%;
               height:rem(200px);   
               text-align:center;
               img{
                  margin-top:rem(20px);
                  width:rem(80px);
                  height:rem(80px); 
               }
               span{
                   font-size:rem(60px);
               }
           }
       }
   } 
   .zjj{
       width:100%;
       height:rem(20px);
       background:#F2F2F2;
   }
   .my-main{
       width:100%;
       ul{
           width:100%;
           li{
               width:100%;
               height:rem(120px);
               border-bottom:1px solid darkgray;
               display:flex;
               align-items:center;
               font-size:rem(45px);
               justify-content:flex-end;
               position:relative;
               span:nth-last-of-type(1){
                   margin-right:rem(40px);
                   color:gray;
               }
               span:nth-last-of-type(2){
                   margin-right:rem(40px);
                   color:gray;
               }
               span:nth-of-type(1){
                   position:absolute;
                   left:40px;
                   color:black;
               }
           }
           li:nth-of-type(2){
               border:none;
           }
           li:nth-of-type(4){
               border:none;
           }
       }
   }
    //尾部
 }



